.links {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .links {
    grid-template-columns: repeat(3, 1fr);
  }
}

.link {
  padding: 20px;
  border-radius: 10px;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link h2 {
  margin: 0;
  color: #47ad7a;
}

.link h4 {
  font-weight: normal;
}

.link h5 {
  align-self: flex-end;
  margin: 0;
  color: #47ad7a;
}

.link:hover {
  background: #ebebeb;
  cursor: pointer;
}

.link:nth-child(3n) {
  margin-right: 0;
}
