html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: conic-gradient(
    from 180deg at 50% 50%,
    #053540 0deg,
    #adfea0 281.25deg,
    #053540 360deg
  );
  background-blend-mode: hard-light;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
